@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Viga&display=swap');

/* Remove any default margin, padding and border */
* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Oxygen', sans-serif;
    background-color: #E6DDC4;
    color: #181D31; 
    font-weight: 400;
    width: 100%;
}

/* Logo and Headers */
h1, h2 {
    font-family: 'Viga', sans-serif;
    color: #181D31;
}

/* Display the Logo on the Left side and add margin and increased font size*/
.logo-all {
    float: left;
    font-size: 200%;
    margin-left: 40px;
}

/* Display the Menu Bar on the right side, add margin */
.menu-all {
    float: right;
    font-weight: 400;
    font-size: 120%;
    word-spacing: 5px;
    margin-right: 40px;
    text-transform: uppercase;
}

/* Set the nav bar horizontally */
.menu-all li {
    display: inline;
    list-style-type: none; 
}

/* For the a element remove the underline, apply the color:#181D31 and then the padding in order to create space */
.menu-all > ul > li > a {
    text-decoration-line: none;
    color: #181D31;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}

.menu-all > ul > li > a:hover {
    border-bottom: 1px solid #181D31;
}

.menu-all, .logo-all {
    line-height: 100px;
    text-decoration-line: none;
}

/* Undeline the Active Page and change sizee */
.active {
    border-bottom: 2px solid #181D31;
    font-size: 125%;
}

/* Hero Image for Home Page */
/* Idea from Love Running Project */
.hero-section {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative; 
}
 
.hero-image {
   width: 100%;
   height: 500px; 
   background: url('../images/hero-image.webp');
   display: block;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

/* Text above Image. Idea from Love Running Project */
.image-text {
    font-size: 150%;
    width: 250px;
    height: 150px;
    text-align: center;
    padding: 25px 35px;
    background-color: rgba(24, 29, 49, 0.9);
    top: 200px;
    right: 40px;
    border-radius: 20px;
    position: absolute;
}

.image-text h2 {
    color:rgb(240, 233, 210);
}

/* This area is dedicated to the Story Section */
.story-section {
    height: 580px;
    width: 100%;
    overflow: hidden;
}

.story {
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #181D31;
}

.left-story {
    flex: 60%;
    max-width: 100%;
    color: #E6DDC4;   /* Add color for paragraphs in Story Area */
    padding: 30px;
}

.left-story h2 {   /* Add color, alignement and new font size for title in Story Area */
    color: #E6DDC4;
    text-align: center;
    font-size: 30px;
}

.left-story p {
    font-size: 120%;
    text-align: left;
}

.right-story {
    flex: 40%;
    width: 100%;
    margin-right: 40px;
    text-align: right;
}

/* Add Flex Content for the Video in the Story Section */
.videos {
    max-width: 550px;
    max-height: 350px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: right;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* This content is used for all the titles */
.titles-sections {
    text-align: center;
    font-size: 250%;
    margin: 60px 0 20px 0;
}


/* Recipe of the Day Section - Homepage */
.recipe-section {
    height: 600px;
    width: 100%;
}

/* The Flex Box have been studied on W3School Website */
.container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between; 
    gap: 15px; 
}

.images-recipes-day {
    width: 550px;
    height: 350px;
    box-sizing: border-box;
    margin-left: 40px;
    border-radius: 20px;
}

/* Add Flex property for the div elements of the Recipe of the Day Section */
.recipe-day-container {
    align-items: start;
    background-color: #181D31;
    width: 100%;
    height: 525px;
}

.flex-image-recipe {
    flex: 33.3%;
    margin-top: 40px;
}

.flex-title-recipe {
    flex: 33.3%;
    margin-left: 40px;
    line-height: 25px;
    margin-top: 40px;
}

.flex-ingredient-recipe {
    flex: 33.3%;
    margin-right: 40px;
    line-height: 25px;
    margin-top: 40px;
}

.flex-title-recipe h2 {
    color: #E6DDC4;
    text-align: center;
    font-size: 200%;
}

.flex-ingredient-recipe h2 {
    color: #FB743E;
    text-align: center;
    font-size: 200%;
}

.flex-ingredient-recipe h3 {
    color: #E6DDC4;
    font-size: 125%;
    text-align: center;
}

.flex-ingredient-recipe ul li, .flex-title-recipe ul li {
    color: #E6DDC4;
    list-style-type: none;
    font-size: 110%;
}

.btn-popup { 
    font-family: 'Viga', sans-serif;
    width: 160px;
    margin-top: 30px;
    padding: 10px 10px;
    font-size: 110%;
    text-align: center;
    background-color: #E6DDC4;
    color: #181D31;
    border-radius: 10px;
    text-decoration: none;
}

i {
    margin-right: 7px;
    text-align: center;
    width: 1em;
}

/* Footer Section */
/* Credit: Love Running Project */
footer {
    height: 100px;
    display: flex;
    justify-content: center;
}

.social-network {
    text-align: center; 
}

.social-network li {
    display: inline;  
}

.social-network li i {
    font-size: 50px;
    text-decoration: none;
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    color: #181D31;
}

.social-network li i:hover {
    color: #FB743E;
}

/* Recipes Page */
.amd-recipes-btn {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.amd-recipes-btn nav a { 
    width: 180px; 
    text-align: center;
    padding: 20px 25px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #181D31;
    color: #E6DDC4;
    text-decoration-line: none;
    font-family: 'Viga', sans-serif;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
}

.amd-recipes-btn nav a:hover {
    color: #FB743E;
}

.recipes-page-title {
    font-size: 100%;  /*This reduce the font size for the Titles in this page only*/
    margin-top: 20px;
    padding-top: 20px;
    text-decoration-line: underline;
}

.container-amd .container-slides {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap; 
    align-content: center;
    justify-content: center;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    margin: 0 20px;
}

.container-single-recipe {
    min-width: 350px;
    max-width: 450px;
    position: relative;
    height: 980px;
    flex-shrink: 0;
    background-color: #181D31;
    color: #E6DDC4;
    margin: 5px 40px 20px 40px;
    padding: 20px 20px;
    border: 1px solid #181D31;
    border-radius: 20px;
    line-height: 30px;
}

.recipes-images-amd > img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-sizing: border-box;
    display: block;
}

.single-title h2 {
    color: #E6DDC4;
    margin: 10px;
    text-align: center;
}

.ingredient-appetizers h2 {
    color: #FB743E;
    text-align: center;
    margin-bottom: 0.5em
}

.ingredient-appetizers ul li {
    list-style-type: none;
}

.check-usage {
    font-size: 85%;
    color: #FB743E;
    margin-bottom: 15px;
    text-align: center;
}

/* Contact Us Page */
.forms-sc {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
}

.img-contact-us {
    background: url('../images/contact-us-background.webp') no-repeat center center;
    background-size: cover;
}

/* Contact Us and Share Form Image Text Section */
.images-text-sc {
    font-size: 120%;
    width: 40%;
    min-width: 800px;
    height: fit-content;
    text-align: center;
    padding: 30px;
    margin: 40px auto;
    background-color: rgba(24, 29, 49, 0.9);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.images-text-sc h2 {
    color: #E6DDC4;
}

/* Contact Us and Share Form User Section */
.flex-container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.forms-users {
    color: #E6DDC4;
    text-align: left;
    font-size: 100%;
    padding: 30px;
    width: 40%;
    min-width: 800px;
    height: fit-content;
    border-radius: 20px;
    background-color: rgba(24, 29, 49, 0.9);
}

.input-forms {
    margin-top: 2px;
    margin-bottom: 15px; 
    font-size: 100%;
    background: transparent;
    color: #E6DDC4;
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 2px solid #E6DDC4 ;
    border-radius: 10px;
    display: block;
}

.input-forms:hover {
    border-color: #FB743E;  
}

.input-forms:focus {
    outline: 1px solid #FB743E;
    border: 1px solid #FB743E;
}

.forms-users label {
    font-size: 100%;
}

.radio-buttons-contact-share {
    margin-right: 50px;   
}

.radio-label-contact-share {
    margin-right: 5px;
}

.buttons { 
    font-family: 'Viga', sans-serif;
    width: 150px;
    float: right;
    margin-top: 40px;
    margin-left: 10px;
    padding: 10px 10px;
    font-size: 110%;
    text-align: center;
    background-color: #E6DDC4;
    color: #181D31;
    border-radius: 10px;
}

.buttons:hover, .btn-popup:hover {
    background-color: #FB743E;
    color: #181D31;
}

.asterisks {
    display: flex;
    width: fit-content;
    height: fit-content;
    text-align: left;
    margin-left: 0;
    padding-top: 20px;
    font-size: 12px;
}

/* Address and Map Section - Contact Us Page */
.about-conad {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #181D31;
}

.about-us-address {
    flex: 50%;
    color: #E6DDC4;
    margin-left: 40px
}

.about-conad h3 {
    font-size: 200%;
    text-align: center;
    margin: 10px 40px 0 40px;
    padding: 20px;
}

.about-us-address li {
    font-size: 110%;
    margin-left: 40px;
    list-style-type: none;
}

.about-us-maps {
    flex: 50%;
    color: #E6DDC4;
    text-align: center;
    margin-right: 40px
}

.about-us-maps iframe {
    width: 80%;
    height: 350px;
    border-radius: 20px;
    align-items: center; 
}

/* Contact Details - Contact Us Page */
.about-us-address h4 {
    font-size: 125%;
    text-align: left;
    margin-right: 10px;
}

.company-details {
    text-align: center;
    justify-content: center;
    margin: 10px auto; 
}

.company-details h4 strong {
    color: #FB743E;
}

/* Share Page */
.img-share {
    background: url('../images/share-background.webp') no-repeat center center;
    background-size: cover;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border: 2px solid #E6DDC4;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    resize: none;
    overflow: auto; /* This is to avoid scroll bar generated by IE */
}

textarea:focus {
    outline: 2px solid #FB743E ;
    border-radius: 10px;
}

input[type="file"] { 
    width: fit-content;
    margin-top: 40px;
    font-size: 110%;
    font-family: 'Viga', sans-serif;
    color: #E6DDC4;
    display: inline-block;
}

.textarea-area {
    margin: 20px 0;
}

/* Error 404 Page & Thank You Page */
.thanks-error-section {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.te-img-container {
    width: 100%;
    height: 600px; 
    display: block;
}

.thanks-image {
    background: url('../images/thanks-image.webp') no-repeat center center/cover;
}

.error-image {
   background: url('../images/error-image.webp') no-repeat center center/cover;
}

.text-thanks-error-pages {
    font-size: 125%;
    width: 800px;
    height: fit-content;    
    text-align: center;
    padding: 25px 35px;
    background-color: rgba(24, 29, 49, 0.9);
    border-radius: 20px;
    position: absolute;
}

.text-thanks-error-pages h2, .text-thanks-error-pages p {
    color:rgb(240, 233, 210);
    padding: 10px;
} 

.text-thanks-error-pages p {
    font-size: 140%;
    font-family: 'Viga', sans-serif;
}

.anchor-text {
    text-decoration: none;
    color: #FB743E;
}

.anchor-text:hover {
    text-decoration: underline;
}

/* Media Queries */
/* Desktop Only - All Pages */
@media screen and (min-width: 1200px) {
    .pull-bottom-desktop {
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
    }
}

/* For larger to medium screen size from 1200px wide to down */
@media screen and (max-width: 1200px) {

    /* Home Page */
    * {
        box-sizing: border-box;
    }

    .hero-section, .hero-image {
        height: 300px;
        background-size: cover;
    }

    .image-text {
        font-size: 110%;
        width: 250px;
        height: fit-content;
        text-align: center;
        padding: 25px 35px;
        top: 75px;
        right: 100px;
    }

    /* Story Section - Home Page */
    .story-section {
        height: fit-content;  
    }

    .story {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }

    .right-story {
        width: 100%;
        padding: 0;
        margin: 40px auto;
        text-align: center;
        box-sizing: border-box;
    }

    .videos {
        margin: 0 auto;
        width: 100%;
    }
    
    .left-story {
        max-width: 90%;
        margin: 0 40px 40px 40px;
        padding: 0;
        text-align: justify;
    }

    /* Recipe of the Day Section - Home Page */
    .recipe-section {
        width: 100%;
        height: fit-content;
    }
    
    .images-recipes-day {
        width: 550px;
        height: 350px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .flex-title-recipe ul li {
        text-align: left;
        margin-left: 40px;
        margin-right: 40px;
    }

    .recipe-day-container {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }
    
    .flex-image-recipe {
        display: flex;
        flex: 100%;
        justify-content: center;
        margin: 40px auto;
        padding: 0;
        align-content: center;
        box-sizing: border-box;
    }

    .flex-title-recipe {
        flex: 50%;
        padding: 0;
        align-self: auto;
        margin: 0 0 10px 0;
        text-align: center;
    }

    .flex-ingredient-recipe {
        flex: 100%;
        align-self: center;
        padding: 0;
        margin: 0 0 40px 0;
        text-align: left;
    }

    .flex-ingredient-recipe div ul {
        margin-left: 20px;
    }

    /* Recipes Page */
    .container-single-recipe {
        height: auto;    
    }

    /* Share Page  & Contact Us*/
    .forms-sc {
        height: fit-content;
        padding-bottom: 40px;
    }

    .images-text-sc, .forms-users {
        min-width: 80vw;
        font-size: 100%;
    }
}


@media screen and (max-width: 950px) {
    /* Home Page */
    .logo-all {
        margin: auto;
        line-height: 80px;
    }

    .menu-all {
       margin-left: 40px;
       line-height: 65px;
    }

    .logo-all, .menu-all {
        float: none;
        text-align: center;
    }

    /*  Recipes Page */
    .container-amd .container-slides {
        flex-flow: column nowrap;
        align-items: center;
        gap: 10px;
    }

    /* Contact Us Page*/
    .forms-users {
        min-width: 80vw;
        font-size: 100%;
    }

    .about-conad {
        height: fit-content;
        display: flex;
        flex: 100%;
        flex-flow: column wrap;
        justify-content: center;
        padding-bottom: 40px;
    }
    
    .about-us-address {
        flex: 100%;
        margin: 0 auto;
    }
    
    .about-us-maps {
        flex: 100%;
        text-align: center;
        margin: 0;
    }
    
    .about-us-maps iframe {
        width: 80%;
        height: 350px;
        border-radius: 20px;
        align-items: center; 
    }
    
    /* Error 404 Page */
    .text-thanks-error-pages {
        width: 80vw;
        height: fit-content;
        font-size: 100%;
    }
}


@media screen and (max-width: 600px) {    
    /* Home Page - Logo and Nav Bar*/    
    .logo-all {
        font-size: 150%;
    }

    .menu-all {
        font-size: 100%;
        padding: 0;
        word-spacing: 0;
        line-height: 35px;
        text-align: center;
        margin: 0;
    }

    .menu-all ul li a {
        padding: 0px 7px;
    }

    .active {
        border-bottom: 1px solid #181D31;
        font-size: 100%;
    }
    
    .image-text {
        font-size: 100%;
        width: 220px;
        height: fit-content;
        text-align: center;
        padding: 15px 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Home Page - Story Section */
    .story-section {
        height: fit-content; /* This is to extend the height of the sections (Story and Recipe of the day in order to allow more content) */
        width: 100%;  
    }

    .right-story {
        width: 90%;
        padding: 0;
        margin: 40px 40px 0 40px;
        text-align: center;
        box-sizing: border-box;
    }
    
    .left-story {
        width: 90%;
        margin: 0 40px 40px 40px;
        padding: 0;
        text-align: justify;
    }

    /* Home Page - Recipe of the Day Section */    
    .images-recipes-day {
        width: 90%;
        height: auto;
        box-sizing: border-box;
        margin: 0 20px;
        padding: 0;
    }

    .flex-ingredient-recipe {
        align-self: auto;
        margin: 0 20px 40px 20px;
        padding: 0;
        text-align: left;
    }

    /* Footer */
    .social-network li i {
        padding: 0;
    }

    /* Recipes Page */
    .recipe-anchor { 
        padding: 5px 15px;
        font-size: 15px;
        width: 100px;
    }

    .amd-recipes-btn nav a { 
        width: 90px; 
        padding: 10px 15px;
        font-size: 16px;
    }

    .recipes-page-title {
        font-size: 80%;
        margin-top: 20px;
        padding-top: 20px;
        text-decoration-line: underline;
    }

    .container-single-recipe {
        max-width: 310px;
        min-width: 310px;
        flex-shrink: 0;
    }

    .container-amd .container-slides {
        flex-flow: column nowrap;
        gap: 10px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    /* Contact Us & Share Pages */
    .images-text-sc {
        min-width: 90vw;
        font-size: 70%;
        padding: 20px;
    }

    .forms-users {
        min-width: 90vw;
        font-size: 100%;
        padding: 20px;
    }

    .buttons { 
        width: 100px;
        margin-top: 40px;
        padding: 10px 0;
        font-size: 90%;    
    }

    input[type="file"] {
        width: 100%;
        margin-top: 40px;
        padding: 0;
        font-size: 90%;
    }

    input[type="text"]::placeholder, input[type="email"]::placeholder {
        color: transparent;
    }

    .titles-sections {
        font-size: 200%;
        margin: 30px 20px 5px 20px;
    }

    .about-conad h3 {
        font-size: 150%;
    }

    .about-us-address h4 {
        font-size: 100%;
    }

    .radio-label-contact-share {
        margin-right: 1px;
    }

    .radio-buttons-contact-share{
        margin-right: 5px;
    }

    /* Error 404 Page */
    .text-thanks-error-pages {
        font-size: 80%;
    }
}


@media screen and (max-width: 350px) {

   .logo-all {
        font-size: 125%;
        line-height: 50px;
    }

    .menu-all {
        line-height: 50px;
        font-size: 80%;
    }

    .titles-sections {
        font-size: 150%;
        margin: 20px auto;
    }
}

/* Popup - Studied how to create Popup in Codepen.io*/
.wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    color: #FB743E;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #181D31;
    display: none;
    z-index: 1;
    overflow-y: scroll;
}

.content-popup {
    width: 80%;
    height: 100%;
    margin: 40px auto;
    position: relative;
    border: 5px solid #181D31;
    color: #FB743E;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #181D31;
    border-radius: 50%;
    border: 2px solid #FB743E;
    color: #FB743E;
    text-decoration: none;
    line-height: 1em;
    padding: 5px 9px;
    text-align: center;
    margin-top: 20px;
}

.popup:target {
    display: block
}

.content-popup h2, .content-popup h3 {
    color: #FB743E;
    text-align: left;
    line-height: 1em;
    padding-top: 20px;
    padding-bottom: 10px;
}

.content-popup p {
    color: #E6DDC4;
    text-align: justify;
}

.content-popup ol li {
    color: #E6DDC4;
}

.content-popup .tips {
    padding-top: 0;
    padding-bottom: 40px;
    margin-bottom: 40px;
} 

.list-unorder-popup li {
    color: #E6DDC4;
    list-style-type: none;
}

.list-order-popup {
    padding-left: 30px;
}

/* Slider CSS */
.slider {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

  .slider > a {
    display: inline-flex;
    font-family: 'Viga', sans-serif;
    background: #181D31;
    text-decoration: none;
    color: #E6DDC4;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 15px;
    margin: 10px 10px;
}

  .slider > a:hover {
    color: #FB743E;
}
